<%- include('includes/head') %> 
<%- include('includes/nav') %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <h1 class="text-center title-page"><strong>Login</strong></h1>

        <div class="col-lg wrapper">
          <p class="text-center">Faça o login para visualizar seus contatos</p>
          <form action="/">
            <div class="form-group">
              <label>Seu email</label>
              <input type="email" class="form-control" name="email" placeholder="Informe seu e-mail">
            </div>
            <div class="form-group">
              <label>Senha</label>
              <input type="password" class="form-control" name="password" placeholder="Informe sua senha">
            </div>
            <center>
              <button class="btn btn-primary" type="submit">Cadastrar</button>
            </center>
            <p class="submit">
              <small>Não tem cadastro? </small>
              <a href="signup.ejs">Crie sua conta</a>
            </p>
          </form>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section>

<%- include('includes/footer') %>
